[Unit]
Description=Local HTTP Server
After=network.target 

[Service]
User=osmc
Type=simple
ExecStart=/home/osmc/kodi-manager-daemon/kodi-manager-daemon.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
