<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/common.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 800px)" href="/static/common-handheld.css">
    <style>article > p { text-align: justify; }</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>{{ h1 | safe }}</h1>
      <nav>
        {% for item in navigation %}
            <a class="nav" href="{{ item.href }}">❬ {{ item.caption }} ❭</a>
        {% endfor %}
      </nav>
    </header>
    {{ content | safe }}
  </div>
</body>
</html>
